<template name="HomeIndex">
  <section id="HomeIndex">
    <div class="content-container">
      <div class="logo">
        <i class="logo-stripe top"></i>
        <i class="logo-stripe middle"></i>
        <i class="logo-stripe bottom"></i>
        <i class="logo-stripe tail"></i>
      </div>
      <!-- <h1>Fred Every</h1> -->
      <div class="background-wrap">
        <div class="background" style="height: {{bgHeight}}px; width: {{bgWidth}}px;"></div>
      </div>
    </div>
  </section>
</template>
