@import "compass/reset";
@import "compass/css3";

@import "shared/vars";
@import "shared/fonts";
@import "shared/mixins";
@import "shared/forms";
@import "shared/medium_editor";
@import "shared/dropzone";
@import "shared/fp_nav";
@import "shared/scroll_dots";

@import "layouts/**/*";
@import "accounts/**/*";
@import "menus/**/*";
@import "posts/**/*";
@import "pages/**/*";

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
