<template name="AboutIndex">
  <section id="AboutIndex">
    <div class="profile-picture">
      <!-- <div class="page-titles">
        <h1>About Me</h1>
      </div> -->
    </div>
    <div class="page-content">
      <article class="content-wrap">
        <aside class="quick-stats">
          <h3>Quick Stats</h3>
          <ul>
            <li>
              <b>Age:</b> {{currentAge}} young
            </li>
            <li>
              <b>Gender:</b> Male
            </li>
            <li>
              <b>Location:</b> Grahamstown, South Africa
            </li>
            <li>
              <b>Relationship Status:</b> Married
            </li>
            <li>
              <b>First Launguage:</b> English
            </li>
          </ul>
        </aside>

        <div class="section-content">
          <h3 class="section-title">As told by Roxanne Long</h3>
          <p>
            The founder and head of FUXE Digital, a web-development firm based in sunny South Africa, Fred is a self-taught, passionate web developer, designer, entrepreneur, and, according to his young sons, overall super hero.
          </p>
          <p>
            He established FUXE Digital in 2013 after 7 years of experience in the tech industry, as an ambitious move towards providing quality, well-executed front-end support systems to clients both locally and internationally.
          </p>
          <p>
            His main area of specialization is in Frontend Development, having spent years honing his craft through taking on various projects, and undergoing personal professional development at every given opportunity. He is also interested in advancements in technology, both as they relate to web development and to our advancement as a species – he was especially excited by the recent unveiling of a “straight out of Back to the Future” Hoverboard! This fascination with tech and the future is coupled with a life-long consciousness about the natural environment, resulting in an ever-present awareness of sustainability and green living.
          </p>
          <p>
            Prior to establishing FUXE Digital, Fred worked as a Developer with various companies, using his creative skills and initiative to influence transformations with web-based tools, marketing, design, branding and establishing best-practice guidelines for himself and his colleagues. He is known for his ability to dedicate himself wholly to a project, often showing a slight fixation with the desire to produce quality work the first time around, negating the need to re-do, re-tweak, and re-commit work. This is often to the chagrin of his loving wife, who sometimes requires his full attention.
          </p>
          <p>
            Aside from Fred’s seemingly innate understanding and flourish within the web-development world, he also enjoys using his abstract thinking skills to create short films.
          </p>
          <p>
            Fred was born on an Army Base in South Africa, and spent the first few years of his life following his fighter jet pilot dad to various bases throughout the country. After school, he travelled to Rhodes University where he obtained an Honours Degree in Fine Art, specialising in Photography and Film-making. This keen eye for colour, texture and layout has followed him into his design and development endeavours.
          </p>
          <p>
            For the past five years, Fred has been married to Roxanne, a Mathematics Education Specialist, and has three young children. The eldest shares Fred’s passion and aptitude for music, the second shares his fascination by tech and especially digital games and puzzles, while the third, still too young to walk, is already seen to be developing his dad’s zest for life and everything it has to offer.
          </p>
        </div>
      </article>
    </div>
  </section>
</template>
