$transition-curve: cubic-bezier(0.860, 0.000, 0.070, 1.000);

// Colors
// $c-highlight: #FF0066;
// $c-highlight: #FF9800;
$c-highlight: #DC095D;
$c-black: #222;
$c-medium-grey: #263248;
$c-light-grey: #7E8AA2;
