<template name="Post">
  <div class="post-wrapper">
    <div class="post-feature-img" style="background-image: url(/upload/{{feature_img}})">
      <div class="post-title-meta">
        <a class="close-post"><i class="icon-cross"></i></a>
        {{> PostTitle}}
        <p class="post-meta">
          <time>{{formattedDateTime}}</time>
        </p>
        <div class="post-share">
          <a><i class="icon-twitter-with-circle"></i></a>
          <a><i class="icon-facebook-with-circle"></i></a>
          <a><i class="icon-google-with-circle"></i></a>
        </div>
      </div>
      {{#if showFeatureImgUploader}}
        <div class="feature-img-upload">
          {{> dropzone callbacks=featureImgCallbacks}}
        </div>
      {{/if}}
    </div>
    <div class="post-content">
      {{#if disclaimer}}
        <p class="disclaimer">{{disclaimer}}</p>
      {{/if}}
      <div class="post-content-padding">
        {{#each postComponents}}
          {{#if isEditable}}
            <div class="post-component" data-position="{{position}}">
              {{> Template.dynamic template=componentTemplate}}
              <div class="add-tools">
                <a class="add-component" data-type="paragraph"><i class="icon-paragraph-left"></i></a>
                <a class="add-component" data-type="image"><i class="icon-image"></i></a>
                <a class="add-component" data-type="embed"><i class="icon-embed"></i></a>
              </div>
            </div>
          {{else}}
            {{> Template.dynamic template=componentTemplate}}
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</template>
