<template name="SkillsetBlock">
  <div class="skill-block">
    <div class="skill-hero">
      <img src="/images/skill-logos/{{logo}}" />
    </div>
    <div class="skill-meta">
      <div class="skill-meta-content">
        <p class="skill-name">{{name}}</p>
        <p class="experience">
          <b>Exp:</b> {{experienceYears}}
        </p>
        <p class="proficiency">
          <i class="progress-bar" style="width: {{proficiency}}%"></i>
        </p>
      </div>
    </div>
  </div>
</template>
